/node_modules
/public/hot
/public/storage
/storage/*.key
/postman/*
.env
backup.env
/encrypted
/vendor/*
firebase.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
sftp.json
laradumps.yaml
rr
.rr.yaml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
