RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

<IfModule mod_headers.c>
    Header always set Content-Security-Policy "upgrade-insecure-requests;"
</IfModule>

# Disable index view
Options -Indexes

# Hide a specific file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Hide a specific file
<Files .sql>
    Order allow,deny
    Deny from all
</Files>

# Hide a specific file
<Files .ini>
    Order allow,deny
    Deny from all
</Files>

# Hide a specific file
<Files composer.phar>
    Order allow,deny
    Deny from all
</Files>
