body {
    background: whitesmoke;
}

.navigation-menu-tab::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    margin-left: 5px;
    cursor: pointer;
}

.navigation-menu-tab::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    cursor: pointer;
}

.navigation-menu-tab::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}

.navigation-menu-tab::-webkit-scrollbar,
.navigation-menu-tab::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    cursor: pointer;
}

.navigation {
    box-shadow: none !important;

    .navigation-menu-body {
        border-right: 0.5px solid #ced4da;
        ul {
            li>a.active:after {
                background-color: unset !important;
            }
        }

        .navigation-header {
            position: absolute;
            width: 170px;
            padding: 10px;
            padding-left: 25px;
            background: #fff;
            top: 0px;
            margin-left: 3px;
        }
    }

    .navigation-menu-group {
        margin-top: 70px;
    }

    .navigation-menu-tab {
        overflow-y: auto;
        width: 85px !important;

        .navigation-menu-tab-header {
            margin-top: 30px;

            .avatar {
                margin-top: 50px;
            }

            a {
                border-bottom: 0.5px solid whitesmoke;
            }
        }

        ul {
            li {
                border-bottom: 0.5px solid whitesmoke;

                a {
                    &.active {
                        &:after {
                            right: 5px;
                            left: 5px;
                            top: 5px;
                            bottom: 5px;
                        }
                    }
                }

                .icon {
                    height: unset;
                    text-align: center;
                    display: inherit;
                    padding: 20px 5px;

                    i{
                        font-size: 30px;
                    }
                }

                h5 {
                    margin-top: 7px;
                    font-size: 10px;
                }
            }
        }

    }

    .navigation-menu-body {
        width: 150px;
        overflow-y: auto !important;

        #navigation-logo {
            border-top: none;
            border-bottom: none;
            height: unset;

            .logo {
                max-width: 150px;
                margin-left: 10px;
                max-height: 70px;
            }
        }

        ul {
            li {
                >a.active {
                    background-color: whitesmoke !important;
                    &:before{
                        content: unset !important;
                    }
                }
            }
        }
    }
}

.page-footer {
    position: fixed;
    z-index: 99;
    bottom: 27px;
    background: white;
    height: 60px;
    width: 80%;
    right: 0px;
    box-shadow: 0 3px 10px rgb(62 85 120 / 7%);

    .action {
        position: absolute;
        right: 25px;
        top: 10px;
    }
}

.swal-modal {
    .swal-button {
        &.swal-button--cancel {
            background: lightgray;
        }
    }
}

.help-block {
    margin-left: 5px;
    font-size: 12px;
    color: $color-danger;
}

.action {
    width: 5%;
}

a {
    &.badge {
        color: #fff !important;
    }
}

.form-group {
    &.has-error {

        input,
        textarea {
            &.form-control {
                border: 0.5px solid $color-danger;
            }
        }

        .select2.select2-container {
            .select2-selection {
                border: 0.5px solid $color-danger;
            }
        }

        .form-control{
            border: 0.5px solid $color-danger;
        }

        .selectize-control{

            &.form-control{
                border: none;
            }

            .selectize-input {
                border: 0.5px solid $color-danger;
            }
        }
    }
}

.header-action {
    z-index: 10;
}

.column-action,
.table-action {
    width: 100px !important;
}

.column-active {
    width: 80px !important;
}

.column-status {
    width: 50px !important;
    text-align: center;
}

.column-sort {
    width: 50px !important;
}

.column-checkbox {
    width: 30px !important;
}

.button {
    text-align: right;
}

.header {
    z-index: 10;
    border-bottom: 0.5px solid #ced4da;

    .navigation {
        border-top: 1px solid lightgrey;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                &.header-title {
                    h1{
                        padding-left: 0px !important;
                        margin-bottom: 0px;
                        margin-left: -25px;
                    }
                }
            }
        }
    }
}

.table {

    thead {
        th {
            vertical-align: middle;
        }
    }

    th,
    td {
        vertical-align: middle;

        .form-group{
            margin-bottom: unset;
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 35px !important;
}

body {
    &.form-membership {
        padding: 1rem 0px !important;

        .form-wrapper {
            #logo {
                margin: 0px;
                margin-bottom: 20px;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-footer {
                margin-top: -30px;
            }

            .modal-header {

                h1,
                h2,
                h3,
                h4 {
                    margin-bottom: 0px;
                }
            }

            .modal-close{
                position: absolute;
                top: 17px;
                right: 20px;
                z-index: 99;
            }

            .container-fluid{
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;

                .card
                {
                    .card-body{
                        border-radius: 0px;
                        border-bottom: 0px;
                    }
                }
            }

            .modal-footer{
                background-color: whitesmoke;
            }
        }
    }
}

.modal-backdrop.show {
    opacity: 0.5 !important;
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}


.chevron-menu::before {
    margin-top: 2px;
    border-style: solid;
    border-width: 0.20em 0.20em 0 0;
    content: '';
    display: inline-block;
    height: 0.7em;
    left: 0.15em;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.7em;
    top: 0;
    transform: rotate(135deg);
}

.rotate-chevron-menu {
    transform: rotate(-45deg);
}

.st-head-row {
    padding-top: 1em;
}

.st-head-row.st-head-row-main {
    font-size: 1.5em;
    padding-top: 0;
}

.st-key {
    width: 35%;
    text-align: left;
    padding-right: 1%;

    .btn-check-d {
        display: none;
    }
}

.st-val {
    width: 70%;
    padding-left: 1%;
    text-align: left !important;
}

/* RESPONSIVE EXAMPLE */

.stacktable.large-only {
    display: table;
}

.stacktable.small-only {
    display: none;
}

@media (max-width: 800px) {
    .stacktable.large-only {
        display: none;
    }

    .stacktable.small-only {
        display: table;
    }
}

.date,
.datetime {
    &:hover {
        cursor: pointer;
    }
}

.selectize-dropdown-content {
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 1000;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.selectize-dropdown {

    .selected {
        color: #343a40;
        background: whitesmoke;
    }
}

.selectize-dropdown-emptyoptionlabel {
    text-align: left;
}

.selectize-input {
    border-radius: 0.5rem;
}

.selectize-control.plugin-clear_button {
    .clear {
        top: 1px;
        height: 80%;
        background: #fff;
        width: 20px;
    }
}

.card{
    .card-header{
        background-color: whitesmoke;
        border: 0.5px solid #ced4da;
        border-bottom: unset;

        border-top-right-radius: 9px;
        border-top-left-radius: 9px;

        padding:15px 20px;

        .card-title{
            margin-bottom: 0px;
        }
    }

    .card-body{
        border: 0.5px solid #ced4da;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;

        .container{
            max-width: 100%;
        }
    }
}

.cursor{
    cursor: pointer;
}

/* purgecss start ignore */
.page-action{
    z-index: 3 !important;
    bottom: 37px !important;
    position: fixed !important;
    right: 0px !important;
    z-index: 10;
    height: 20px;
    width: calc(100% - #{$navigation-width});
    margin: 0px;

    @media (max-width: 800px) {
        width: 100%;
    }

    .action-container{
        box-shadow: 0 3px 10px rgb(62 85 120 / 7%);
        text-align: right;

        .button-action{
            width: 100%;
            padding: 10px 1rem;
            background: #fff;
            border-top: 0.5px solid #ced4da;
        }
    }

    .button{
        .btn {
            margin: 0px 3px;
        }
    }

    .breadcrumb {
        li {
            &.breadcrumb-item {
                &:first-child {
                    &:before {
                        content: "";
                    }
                }
            }
        }
    }
}


/* RESPONSIVE EXAMPLE 1*/

.stacktable.large-only {
    min-width: 100%;
    width: inherit;

    &.overflow{
        display: table;
        width: max-content;
    }
}

.stacktable.small-only {
    display: none;
}

@media (max-width: 800px) {
    .stacktable.large-only {
        display: none !important;
    }

    .stacktable.small-only {
        display: table;
    }
}

.container-pagination{
    margin-top: 1%;
}

.input-group-append .input-group-text {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 35px;
}

.input-group-prepend .input-group-text {
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 36px;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #f5f5f5;
    white-space: nowrap;
    border: 1px solid #ced4da;
}

.input-group-prepend .btn{
    border: 1px solid #ced4da;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-append .btn{
    border: 1px solid #ced4da;
}

.container-break .hr{
    padding-top: 10px;
    border-bottom: 0.5px solid #e1e1e1;
    margin-bottom: 20px;
}

.wrap-circles {
    position: absolute;
    right: 130px;
    top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.circle {
    position: relative;
    width: 47px;
    height: 47px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #33B5E5;
    overflow: hidden;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 0.65rem;
        font-weight: bold;
        color: #505050;
    }
}

[x-cloak] {
    display: none !important;
  }

  .megaphone button{
    border: 0px;
    width: 2.5rem;
  }

  .header-notification{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 1.2rem !important;
    text-decoration: underline;
    text-align: right !important;
  }

  .pl-3 .w-full{
    padding-bottom: 10px;
  }

  .header-notification-unread{
    font-size: 1.2rem !important;
    padding-top: 1rem;
  }

  .button-close-notification{
    border: 0.5px solid grey;
    width: 2.5rem;
    height: 2rem;
    margin-top: -5px;
    margin-right: -20px;
  }

  .megaphone p.leading-3{
    margin-left: 0px;
  }

  .megaphone .aspect-square.rounded-full{
    left: -10px;
    top: -5px;
  }

  .megaphone .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .megaphone .fixed {
    position: fixed;
  }
  .megaphone .absolute {
    position: absolute;
  }
  .megaphone .relative {
    position: relative;
  }
  .megaphone .top-0 {
    top: 0px;
  }
  .megaphone .left-0 {
    left: 0px;
  }
  .megaphone .right-0 {
    right: 0px;
  }
  .megaphone .z-50 {
    z-index: 50;
  }
  .megaphone .z-0 {
    z-index: 0;
  }
  .megaphone .z-30 {
    z-index: 30;
  }
  .megaphone .my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .megaphone .mt-4 {
    margin-top: 1rem;
  }
  .megaphone .block {
    display: block;
  }
  .megaphone .flex {
    display: flex;
  }
  .megaphone .aspect-square {
    aspect-ratio: 1 / 1;
  }
  .megaphone .h-full {
    height: 100%;
  }
  .megaphone .h-2\/5 {
    height: 40%;
  }
  .megaphone .h-12 {
    height: 3rem;
  }
  .megaphone .h-screen {
    height: 100vh;
    width: 100%;
  }
  .megaphone .h-6 {
    height: 1.5rem;
  }
  .megaphone .h-8 {
    height: 2rem;
  }
  .megaphone .h-4\/5 {
    height: 80%;
  }
  .megaphone .max-h-fit {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .megaphone .w-full {
    width: 100%;
  }
  .megaphone .w-12 {
    width: 3rem;
  }
  .megaphone .w-6 {
    width: 1.5rem;
  }
  .megaphone .w-8 {
    width: 2rem;
  }
  .megaphone .w-4\/5 {
    width: 60%;
  }
  .megaphone .flex-shrink-0 {
    flex-shrink: 0;
  }
  .megaphone .translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .megaphone .transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .megaphone .cursor-pointer {
    cursor: pointer;
  }
  .megaphone .items-center {
    align-items: center;
  }
  .megaphone .justify-center {
    justify-content: center;
  }
  .megaphone .justify-between {
    justify-content: space-between;
  }
  .megaphone .overflow-y-auto {
    overflow-y: auto;
  }
  .megaphone .overflow-x-hidden {
    overflow-x: hidden;
  }
  .megaphone .rounded-full {
    border-radius: 9999px;
  }
  .megaphone .rounded-md {
    border-radius: 0.375rem;
  }
  .megaphone .rounded {
    border-radius: 0.25rem;
  }
  .megaphone .border-2 {
    border-width: 2px;
  }
  .megaphone .border {
    border-width: 1px;
  }
  .megaphone .border-b {
    border-bottom-width: 1px;
  }
  .megaphone .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
  }
  .megaphone .border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .megaphone .bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  }
  .megaphone .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  }
  .megaphone .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .megaphone .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .megaphone .fill-black {
    fill: #000;
  }
  .megaphone .fill-blue-600 {
    fill: #2563eb;
  }
  .megaphone .fill-red-600 {
    fill: #dc2626;
  }
  .megaphone .fill-green-600 {
    fill: #16a34a;
  }
  .megaphone .p-8 {
    padding: 2rem;
  }
  .megaphone .p-3 {
    padding: 0.75rem;
  }
  .megaphone .p-2 {
    padding: 0.5rem;
  }
  .megaphone .px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
  .megaphone .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .megaphone .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .megaphone .py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .megaphone .pt-3 {
    padding-top: 0.75rem;
  }
  .megaphone .pt-8 {
    padding-top: 2rem;
  }
  .megaphone .pb-2 {
    padding-bottom: 0.5rem;
  }
  .megaphone .pl-3 {
    padding-left: 0.75rem;
  }
  .megaphone .pr-2 {
    padding-right: 0.5rem;
  }
  .megaphone .pt-1 {
    padding-top: 0.25rem;
  }
  .megaphone .text-right {
    text-align: right;
  }
  .megaphone .font-sans {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .megaphone .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .megaphone .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .megaphone .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .megaphone .font-semibold {
    font-weight: 600;
  }
  .megaphone .font-bold {
    font-weight: 700;
  }
  .megaphone .leading-5 {
    line-height: 1.25rem;
  }
  .megaphone .leading-6 {
    line-height: 1.5rem;
  }
  .megaphone .leading-normal {
    line-height: 1.5;
  }
  .megaphone .leading-none {
    line-height: 1.5;
  }
  .megaphone .leading-3 {
    line-height: .75rem;
  }
  .megaphone .text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  .megaphone .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .megaphone .text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
  }
  .megaphone .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  .megaphone .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  .megaphone .text-indigo-700 {
    --tw-text-opacity: 1;
    color: rgb(67 56 202 / var(--tw-text-opacity));
  }
  .megaphone .no-underline {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
  .megaphone .shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .megaphone .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .megaphone .drop-shadow {
    --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
  .megaphone .transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .megaphone .duration-700 {
    transition-duration: 700ms;
  }
  .megaphone .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .megaphone .hover\:bg-gray-300:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  }
  .megaphone .focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .megaphone .focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }
  .megaphone .focus\:ring-gray-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity));
  }
  .megaphone .focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px;
  }
  @media (prefers-color-scheme: dark) {
    .megaphone .dark\:fill-white {
      fill: #fff;
    }
  }
  @media (min-width: 1536px) {
    .megaphone .\32xl\:w-4\/12 {
      width: 30%;
      }


  }

  @media (min-width: 1200px) {
    .megaphone .h-screen{
      width: 30%;
    }
  }

  .profile{
    position: absolute;
    right: 55px;
    display: block !important;

    .dropdown-toggle{
      &::after{
        margin-left: 0.5em;
      }
    }
  }

  .megaphone{
    .w-8{
      button{
        border-radius: 5px;
      }
    }

    .bg-white{
      border-radius: 5px;
      border: .5px solid #ced4da;
      padding-bottom: 0.5rem !important;
    }
  }
