@media (min-width: 992px) {
	.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}

	.page-header {
		h4 {
			margin-top: 5px;
		}
	}

	.main-content {
		padding-top: 90px;
	}

	.stacktable {
		width: max-content;
	}
}

@media (max-width: 1200px) {

	body {
		display: block;

		&.stretch-layout {
			.main-content {
				padding-top: 1rem;
			}
		}

		&.navigation-show {
			.navigation {
				left: 0;
				opacity: 1;
			}
		}
	}

	.header .header-toggler {
		display: block;
	}

	.chat-block {
		position: relative;

		.chat-content {
			display: none;

			.mobile-chat-close-btn {
				display: block;
			}

			&.mobile-open {
				display: flex;
				background-color: white;
				padding: 1.5rem;
				position: absolute;
				border-radius: 8px;
				right: 0;
				left: 0;
				max-width: 100%;
				z-index: 2;
				bottom: 0;
			}
		}

		.chat-sidebar {
			flex: 1;
			border-right: none;
			padding-right: 0;
			max-width: 100% !important;
		}
	}

	.header {
		margin: 0;
		padding: 0 1rem;

		div:nth-child(1) ul li.navigation-toggler {
			display: block;
		}

		div:first-child ul li:not(.navigation-toggler) {
			display: none;
		}

		div:nth-child(2) {
			margin-left: auto;

			ul.navbar-nav:first-child {
				display: none;
				background: #ffffff;
				position: absolute;
				left: 0;
				right: 0;
				top: $header-height;
				height: $header-height;

				li {
					a {
						color: black;
					}
				}

				&.open {
					display: flex;
				}
			}
		}

		.header-search .input-group {
			background-color: white;

			.btn {
				color: black
			}

			input.form-control {
				&:focus {
					color: black;
				}

				&::placeholder {
					color: #9b9b9b
				}
			}
		}

		.navigation-toggler,
		.navbar-toggler {
			a {
				background: none !important;
			}
		}

		.navigation-toggler {
			display: none !important;

			&.mobile-toggler {
				display: block !important;
			}
		}

		.navigation-toggler a:hover {
			background: none !important;
		}

		.dropdown {
			position: static;
		}

		.dropdown-menu {
			right: 1rem !important;
			top: auto !important;
			left: 1rem !important;
			margin-top: 10px;
			width: auto !important;
			transform: inherit !important;
		}
	}

	.navigation {
		background-color: white;
		z-index: 1000;
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .15);
		left: -80%;
		top: 0;
		bottom: 0;
		opacity: 0;
		transition: left .2s;
		position: fixed !important;

		&.open {
			left: 0;
			opacity: 1;
		}

		#logo {
			display: none;
		}

		header.navigation-header {
			padding-top: 20px;
		}

		.navigation-icon-menu {
			margin: 0;
			border-radius: 0;
		}
	}

	#main {
		width: 100%;

		.main-content {
			padding: 0;
		}
	}

	body.stretch-layout {
		#main {
			.main-content {
				padding: 1.875rem 0 3rem;
			}
		}
	}

	.user-page {
		padding: 20px;
		height: auto;

		.card {
			width: auto;

			.card-body {
				padding: 30px;
			}
		}
	}

	.input-group-text{
		min-width: 15%;
	}
}

@media (max-width: 992px) {

	.app-block {
		position: relative;
		overflow: hidden;

		.app-sidebar-menu-button {
			display: inline-flex;
			margin-right: 1rem;
		}

		.app-sidebar {
			display: none;
			position: absolute;
			left: 0;
			z-index: 9;
			flex: 0 0 35%;
			max-width: 35%;
			bottom: 0;

			.app-sidebar-menu {
				overflow: auto;
			}

			&.show {
				display: block;
			}

			&>.card {
				box-shadow: 3px 0px 15px -10px black;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.app-content {
			flex: 0 0 100%;
			max-width: 100%;

			.app-action {
				flex-direction: column-reverse;

				.action-right {
					margin-left: 0;
					margin-bottom: 1rem;
				}
			}

			.app-detail .card-header {
				flex-direction: column;
				align-items: stretch !important;

				.app-detail-action-right {
					margin-left: 0 !important;
					margin-top: 1rem;
				}
			}
		}
	}

	.card {
		margin-bottom: 1rem;

		.card-body {
			padding: 1.5rem;
		}
	}

	.navigation{
		width: 350px;
	}

}

@media (max-width: 768px) {

	.navigation-menu-body{
		background-color: whitesmoke;

		.navigation-header{
			width: calc(100%) !important;
		}

		.navigation-menu-group {
			margin-bottom: 30px;
		}
	}

	.column-action{
		width: unset !important;
	}

	.action-table{
		position: absolute;
		right: 1.5rem;
	}

	#main {
		width: 100%;

		.main-content {
			padding-top: 85px;
			padding-bottom: 60px;
		}
	}

	.page-header {
		bottom: 0px !important;
		padding: 0px 10px 30px 40px;
	}

	.btn-check-m {
		position: absolute;
		left: 20px;
		margin-top: 10px;
	}

	body.form-membership .form-wrapper {
		width: 90%;
		margin: 30px auto;
	}

	.header-container {
		h4 {
			position: absolute;
			top: 25px;
			right: 20px;
			z-index: 999;
		}

		.header-action {
			text-align: right;
		}
	}

	.page-header {
		margin-bottom: 18px;
		height: 55px;
	}

	.nav-item {

		&.profile{
			.nav-link{
				color: $color-light;
			}
		}
	}

	.header {
		position: fixed;
		background-color: $color-primary;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;

		#header-logo {
			width: auto;
		}

		.header-body {
			position: static;

			&>div:first-child ul li:not(.navigation-toggler) {
				display: none;
			}
		}
	}

	.app-block .app-content .app-action .action-right {
		form {
			margin-right: 0 !important;
		}

		.app-pager {
			display: none !important;
		}
	}

	.app-block {
		.app-sidebar {
			flex: 0 0 70%;
			max-width: 70%;
		}
	}

	.chat-block {
		.chat-sidebar {
			&.border-right {
				border-right: none !important;
			}
		}
	}

	.toast-top-right {
		top: 1rem;
		right: 1rem;
	}

	.toast-top-left {
		top: 1rem;
		left: 1rem;
	}

	.header {
		.breadcrumb {
			display: none;
		}
	}

	footer {
		padding: 15px 20px;

		.nav {
			display: none;
		}
	}

	.sidebar {
		&>ul.nav {
			display: flex;

			li.nav-item {
				border: none;
			}
		}
	}

	.user-page {
		padding: 20px;
		height: auto;

	}

	.fc {
		.fc-toolbar {
			&.fc-header-toolbar {
				&>div {
					float: none !important;

					.fc-button-group {
						float: none !important;
					}

					&.fc-left {
						display: flex;
						justify-content: center;
						margin-bottom: 15px;
					}

					&.fc-right {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.page-action {
		width: 100% !important;
	}

	.stacktable {
		width: 100%;
	}

	.table-container {
		.card-body {
			padding: 1rem 0px;
		}
	}

	.input-group-text{
		min-width: 35%;
		text-align: right;
	}

	.table td {

        &.text-center{
            text-align: left !important;

			.form-group{
				.form-control{
					text-align: right;
				}
			}
        }

		&::before{
			min-width: 30% !important;
		}

    }
}

@media (max-width: 414px) {

	.navigation {
		width: 350px !important;

		.navigation-menu-body{

			.navigation-header{
				width: calc(100%) !important;
			}
		}
	}

	.nav {
		display: block;
		border: none;

		li.nav-item {
			margin-bottom: 0;

			&:last-child {
				border: none;
			}

			a.nav-link {
				border: none;
			}
		}
	}

	body:not(.semi-dark):not(.dark) {
		.nav {
			li.nav-item {
				border-bottom: 1px solid #ebebeb;
			}
		}
	}

	.navigation header.navigation-header .nav {
		display: flex;
	}

	body.dark {
		.nav {
			li.nav-item {
				border-bottom-color: #6d748e;
			}
		}
	}

	.wizard>.steps>ul>li {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.wizard>.content {
		background: none;
	}

	.wizard>.content>.body {
		position: static;
		padding: 0;
	}

	.dataTables_wrapper {
		.dataTables_filter {
			display: block;
		}
	}

	.navigation {
		width: 90%;
	}

	.page-header {
		.breadcrumb {
			display: none;
		}
	}
}

@media (max-width: 375px) {
	.navigation {
		width: 300px !important;

		.navigation-menu-body{

			.navigation-header{
				width: calc(100%);
			}
		}
	}

	nav.navbar {
		.navbar-menu {
			padding-left: 0;
		}
	}
}

@media (max-width: 544px) {
	.text-xs-center {
		text-align: center !important;
	}

	.text-xs-left {
		text-align: left !important;
	}

	.text-xs-right {
		text-align: right !important;
	}

	.table-container .card {
		.card-body {
			padding: 1rem 0px;
		}
	}
}

@media print {
	.page-header {
		display: none;
	}
}

@media screen and ( max-width: 500px ){

	.pagination {
		justify-content: center;
	}

	li.page-item {

		display: none;
	}

	.page-item:first-child,
	.page-item:nth-child( 2 ),
	.page-item:nth-child( 3 ),
	.page-item:nth-child( 4 ),
	.page-item:nth-last-child( 2 ),
	.page-item:nth-last-child( 3 ),
	.page-item:nth-last-child( 4 ),
	.page-item:last-child,
	.page-item.active,
	.page-item.disabled {
			display: block;
		}
}