
.card{
	border: unset;
    margin-bottom: 5%;

    .card-header{
        background-color: whitesmoke;
        border: 0.5px solid #ced4da;
        border-bottom: unset;

        // border-top-right-radius: 9px;
        // border-top-left-radius: 9px;

        padding:15px 20px;

        .card-title{
            margin-bottom: 0px;
        }
    }

    .card-body{
        border: 0.5px solid #ced4da;
        // border-bottom-right-radius: 9px;
        // border-bottom-left-radius: 9px;
        padding: 1.5rem;

        .container{
            max-width: 100%;
        }
    }

	.card-footer{
		background-color: whitesmoke;
		border: 0.5px solid #ced4da;
		// border-bottom-right-radius: 9px;
		// border-bottom-left-radius: 9px;
	}
}