// Profile dropdown styles moved from custom.scss
.profile{
  cursor: pointer;
}

.dropdown-content {
	font-size: 15px;
	display: none;
	right: -0px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;

  a {
    color: black;
    padding: 10px !important;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;

  }
}

.show {display:block;}

.profile {
  position: absolute;
  right: 15px;
  display: block !important;

  .dropdown-toggle {
    &::after {
      margin-left: 0.5em;
    }
  }

  .dropdown-menu{
    .dropdown-item{
      &:hover {
        background-color: #F5F5F5;
      }
    }
  }
}

.dropdown {
	display: inline;
}

.dropdown-menu {
	margin-top: 15px;
	visibility: hidden;
	opacity: 0;
	height: 0;
	display: block !important;
	transition: margin-top .3s, opacity .3s;
	border-top: 1px solid #eee !important;

	ul.list-group {
		max-height: 300px;
	}

	&.show {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
		height: auto;
	}
}

.dropdown-header {
	font-size: inherit;
	padding: 10px 20px;
	border-bottom: 1px solid #f0f0f0;
}

.dropdown-body {
	padding: 10px 20px;
}

.dropdown-menu {
	border-radius: .5rem;
	font-size: .835rem;
	border: none;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.15);
	overflow: hidden;

	&.dropdown-menu-big {
		padding: 0;
		width: 300px;
	}

	.dropdown-menu-body {
		max-height: 400px;
		overflow: auto;
	}

	.dropdown-menu-title {
		background-color: $color-primary;
		padding: 15px 20px;
		color: white;
		background-size: cover !important;
		background-position: center !important;
	}

	.dropdown-menu-footer {
		padding: 10px 20px;
	}

	ul {
		li {
			&.dropdown-menu-title {
				background: red;

				&:first-child {
					margin-top: 0;
				}

				margin: 5px 0;
				padding: 0px 20px 5px;
				border-bottom: 1px solid #ebebeb
			}
		}
	}

	.dropdown-item {
		&:hover, &:focus, &:active {
			background: #f5f5f5;
			text-decoration: none;
			color: $color-primary
		}
	}
}

table {
	.dropdown {
		line-height: initial;
	}
}