.navigation {
	background: #f5f5f5;
	z-index: 4;
	width: $navigation-width;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	bottom: 0;
	border-right: 1px solid #f1f1f1;
	box-shadow: 0 3px 10px rgba(62, 85, 120, .045);

	&.sticky {
		height: 100vh;
	}

	.navigation-menu-tab {
		background-color: $color-primary;
		width: $small-navigation-width;
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
		overflow-y: auto;

		.navigation-menu-tab-header {
			height: $header-height;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.avatar {
			border: none;
		}

		ul {
			li {
				border-bottom: 1px solid rgba(white, .8);

				a {
					color: white;
					display: flex;
					min-height: 9rem;
					justify-content: center;
					flex-direction: column;
					align-items: center;

					i{
						margin-top: -10px;
						font-size: 1.9rem;
						margin-bottom: .5rem;
					}

					h5{
						font-size: 0.8rem;
						margin: 0;
					}

					&.active {
						position: relative;
						color: white;

						&:after {
							content: '';
							right: 8px;
							left: 8px;
							top: 10px;
							bottom: 10px;
							border-radius: .5rem;
							display: block;
							background: rgba(white, .3);
							position: absolute;
						}
					}

					&:hover {

						color: white;
					}

				}
			}
		}
	}

	.navigation-menu-body {
		flex: 1;
		overflow: auto;
		background-color: $body-bg;

		.navigation-menu-group {

			display: flex;
			flex-direction: column;

			& > div {
				display: none;

				&.open {
					display: block;
				}
			}
		}

		#navigation-logo {
			display: flex;
			height: $header-height + 20px;
			align-items: center;
			justify-content: center;

			img{
				max-height: 100px;
			}
		}

		ul {
			li {

				&.navigation-divider {
					padding: 10px 30px;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 500;
					color: $color-primary;
					letter-spacing: .5px;
					margin-top: 10px;
					margin-bottom: 10px;

					&:first-child {
						margin-top: 0;
						padding-top: 0;
					}
				}

				& > a {
					display: flex;
					align-items: center;
					transition: background .3s;
					justify-content: space-between;

					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0.6rem 1rem;
					border-radius: 0.375rem;
					margin-bottom: 7px;
					margin-right: 7px;
					margin-left: 7px;
					font-weight: normal;
					text-decoration: none;
					background-color: $body-light;

					.nav-link-icon {
						margin-right: .8rem;
						stroke: rgba(black, .3);
						transition: stroke .3s;
						width: 20px;
						height: 20px;
					}

					&.active {
						position: relative;
						color: $color-light;
						font-weight: 600;
						background-color: $color-primary;

						&:after {
							content: '';
							position: absolute;
							display: block;
							width: 3px;
							// border-top-left-radius: 5px;
							// border-bottom-left-radius: 5px;
							top: 0;
							bottom: 0;
							right: 0;
							// background-color: $color-primary;
						}
					}

					.sub-menu-arrow {
						margin-left: auto;
						font-size: .550rem;
						transition: transform .5s;

						&.rotate-in {
							transform: rotate(540deg);
						}
					}

					.badge {
						margin-left: auto;
						padding: 3px 7px;
					}

					& + ul {
						display: none;

						li {
							margin: 0;

							a {
								padding-left: 20px;
							}
						}

						ul {
							border-left: none;

							li {
								a {
									padding-left: 70px;
								}
							}
						}
					}
				}

				&.open {
					& > a {
						color: $color-primary;
						font-weight: 600;

						.nav-link-icon {
							stroke: $color-primary;
						}
					}

				}
			}
		}
	}
}
