
.table {

    border-radius: 5px;

    thead {
        th {
            vertical-align: middle;
			padding: 1rem 0.5rem;
			font-size: 1rem;
			color: $default-text-color;

			a{
				color: $default-text-color !important;
			}
        }
    }

    td {
		padding: 0.8rem 0.5rem;
        vertical-align: middle;

		.form-group{
			margin: 0;
		}
    }
}

.stacktable.large-only {
    min-width: 100%;

    &.overflow{
        display: table;
        width: max-content;
    }
}

.stacktable.small-only {
    display: none;
}

@media (max-width: 800px) {
    .stacktable.large-only {
        display: none !important;
    }

    .stacktable.small-only {
        display: table;
    }
}

.table-responsive{
     width: 100%;
    overflow-x: auto;         /* scroll horizontal */
    -webkit-overflow-scrolling: touch;
    display: block;
}

.table {
    width: 100%;
    min-width: 600px;         /* biar tabel tidak pecah */
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 2rem auto 0;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
}

.table th,
.table td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
    white-space: normal !important;
    word-break: break-word;
    overflow-wrap: break-word;
}

.table th {
    font-weight: 600;
    background-color: var(--bg-light);
}

.no-users {
    padding-top: 2rem;
    width: 100%;
}

.checkbox-column {
    width: 3rem;
    text-align: center;
}

.action-table {
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
    border: none;
}

.actions {
    width: 12rem;
}

.action-table .button, .action-table a {
    padding: 0.1rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-table .button{
    height: 3.2rem;
}

.action-table .button .bi {
    font-size: 1.5rem;
}

.form-table-pagination{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    /* Responsive Table-to-Card */
    .table{
        min-width: unset !important;
    }

    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--bg-light);
    }

    .table td:last-child {
        border-bottom: 1px solid var(--color-lightGrey);
    }

    .table td::before {
        content: attr(data-label);
        font-weight: 600;
        margin-right: 1rem;
    }

    .action-table {
        width: -webkit-fill-available;
        justify-content: flex-end;
    }

    .checkbox-column {
        width: unset;
        text-align: center;
    }

    /* Table Mobile Styles from _layout.css */
    table{
        border: unset;
    }

    table tbody{
        border-style: none;
    }
}