@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	margin: 0;
	color: #999;
}
input, textarea, select {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #666;
}
p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}
img {
	max-width: 100%;
}
ul {
	padding-left: 0;
	margin-bottom: 0;
}
a {
	text-decoration: none;
}
:focus {
    outline: none;
}
.wrapper {
	min-height: 100vh;
	position: relative;
	background: url('../images/bg-registration-form-9.jpg') no-repeat right center;
	background-size: cover;
}
.inner {
	position: absolute;
	top: 50%;
	left: 11.07%;
	transform: translateY(-50%);
	width: 511px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background: url('../images/bg-inner.png') repeat;
	padding: 7px;
}
form {
	width: 100%;
	padding: 57px 46px 55px;
	background: #fff;
}
select {
	-moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
h3 {
	text-transform: uppercase;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	color: #1565C0;
	letter-spacing: 3px;
	margin-bottom: 22px;
	font-weight: 500;
}
.form-row {
	display: flex;
	margin-bottom: 25px;
	&.last {
		margin-bottom: 22px;
	}
	.form-wrapper {
		width: 50%;
		&:first-child {
			margin-right: 25px;
		}
	}
}

.form-full {
	display: flex;
	margin-bottom: 25px;
	&.last {
		margin-bottom: 22px;
	}
	.form-wrapper {
		width: 100%;
	}
}

.form-wrapper {
	position: relative;
	label {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 17px;
		color: #4c4c4c;
		margin-bottom: 8px;
	}
	i.zmdi-chevron-down {
		position: absolute;
		right: 16px;
		top: 42px;
		font-size: 15px;
		color: #666;
	}
	span.lnr-calendar-full {
		position: absolute;
		left: 16px;
		font-size: 15px;
		color: #666;
		top: 43px;
	}

	.error{
		color: #EF4444;
		margin-top: 5px;
		position: absolute;
		right: 0px;
	}

	.error-top{
		top: 0px;
	}
}
.form-control {
	border: 1px solid #e6e6e6;
	display: block;
	width: 100%;
	height: 42px;
	padding: 0 14px;
	&.datepicker-here {
		padding-left: 39px;
	}
}
.checkbox {
	position: relative;
	padding-left: 22px;
	label {
		cursor: pointer;
	}
	input {
		position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}
.checkmark {
	position: absolute;
    top: 3px;
    left: 0;
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    font-size: 10px;
    font-weight: bolder;
	&:after {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    display: none;
	    content: '\f26b';
	    color: #333;
	}
}

.button {
	border: none;
	width: 173px;
	height: 42px;
	margin-top: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: #1565C0;
	color: #fff;
	text-transform: uppercase;
	font-family: "Muli-SemiBold";
	font-size: 15px;
	position: relative;
	transition: all 0.3s ease;
	span {
	    letter-spacing: 3px;
        -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	&:after {
		content: attr(data-text);
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 50%;
	    left: 0;
	    opacity: 0;
	    letter-spacing: 3px;
	    -webkit-transform: translate(-30%, -25%);
	    transform: translate(-30%, -25%);
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	&:hover {
		background: #1565C0;
		span {
			opacity: 0;
			-webkit-transform: translate(0px,40px);
		    transform: translate(0px,40px);
		}
		&:after {
			opacity: 1;
		    -webkit-transform: translate(0, -25%);
		    transform: translate(0, -25%);
		}
	}
}

.black{
	background: #909DA6;

	&:hover{
		background: #5D5452;
	}
}

@media (max-width: 1199px) {
	.wrapper {
		background-position: center center;
	}
}
@media (max-width: 991px) {
	.inner {
		width: 60%;
	}
}
@media (max-width: 767px) {
	.inner {
		width: 100%;
		transform: translateY(0);
		position: static;
		padding: 0;
		box-shadow: none;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    -ms-box-shadow: none;
	    -o-box-shadow: none;
	}
	.wrapper {
		background: none;
		display: block;
	}
	form {
		padding: 30px 20px;
	}
	.form-row {
		display: block;
		.form-wrapper {
			width: 100%;
			margin-bottom: 25px;
			&:first-child {
				margin-right: 0;
			}
		}
	}

	.form-button {
		display: flex !important;
		.form-wrapper {
			width: 50% !important;
			margin-bottom: 25px;
			&:first-child {
				margin-right: 0;
			}
		}
	}
}

.form-detail{

	h3{
		text-align: center;
		margin-bottom: 2rem;
	}

	.logo{
		text-align: center;
		margin-bottom: 1rem;

		img{
			max-width: 300px;
			max-height: 150px;
			border-radius: 5px;

			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.123),
			0 10px 10px rgba(0, 0, 0, 0.096);
		}
	}
}

.login{
	padding-top: 4rem;
}